<% breadcrumb :index_comment %>
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= link_to 'コメント', controller: 'comments', action: 'index', page: 1, order: @order, column: 'value' %></th>
        <th><%= link_to 'ユーザ', controller: 'comments', action: 'index', page: 1, order: @order, column: 'users.username' %></th>
        <th><%= link_to '作成日', controller: 'comments', action: 'index', page: 1, order: @order, column: 'created_at' %></th>
        <th><%= link_to 'トピック', controller: 'comments', action: 'index', page: 1, order: @order, column: 'topics.title' %></th>

        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td class="long-text"><%= link_to comment.value, comment %></td>
          <td class="long-text"><%= comment.user.username %></td>
          <td class="long-text"><%= comment.created_at.to_s %></td>
          <td class="long-text"><%= comment.topic.title %></td>
          <td><%= link_to '変更', edit_comment_path(comment) %></td>
          <td><%= link_to '削除', comment, method: :delete, data: { confirm: '一般ユーザが閲覧できなくなります。よろしいですか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%= paginate @comments %></div>
</div>
