<%= form_for(@topic) do |f| %>
  <%= f.hidden_field :category_id %>
  <%= f.hidden_field :user_id %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %></div>
    <div class="panel-body">
      <%= f.bootsy_area :value, class: "form-control", rows: "10", placeholder: "詳細" %>
      <div class="form-group">
        <div class="pull-right">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
