<table class="table table-stripped">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>詳細</th>
      <th>カテゴリー</th>
      <th>作成者</th>
      <th>ステータス<th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td class="long-text"><%= link_to topic.title, topic %></td>
        <td class="long-text"><%= topic.value %></td>
        <td class="long-text"><%= topic.category.title %></td>
        <td class="long-text"><%= topic.user.username %></td>
        <td class="long-text"><%= topic.status%></td>
        <td><%= link_to '変更', edit_topic_path(topic) %></td>
        <td><%= link_to '削除', topic, method: :delete, data: { confirm: '一般ユーザが閲覧できなくなります。よろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
