<% breadcrumb :topic, @topic %>
<div class="center-block panel panel-primary">
  <div class="panel-heading">
    <div style="display: inline-block;vertical-align: top;">
      <% if @topic.user.image? %>
        <%= image_tag @topic.user.image.thumb.url, class: "img-circle", style: "height: 30px;width: 30px;" %>
      <% else %>
        <%= image_tag "/avatar-default.png", class: "img-circle", style: "height: 30px;width: 30px;" %>
      <% end %>
    </div>
    <div style="display: inline-block">
      <div>
        <h3 class="panel-title"><strong><%= @topic.title %></strong></h3>
      </div>
      <div>
        <small>
          投稿者：<%= @topic.user.username %>
        &nbsp;&nbsp;
        <%= @topic.created_at %>
        </small>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= simple_format(h(@topic.value)) %>
  </div>
</div>

<% @topic.comments
.select{|c| !c.deleted?}
.sort{|a,b| a.created_at <=> b.created_at }
.each do |comment| %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <small>
        <% if comment.user.image? %>
          <%= image_tag comment.user.image.thumb.url, class: "img-circle", style: "height: 30px;width: 30px;" %>
        <% else %>
          <%= image_tag "/avatar-default.png", class: "img-circle", style: "height: 30px;width: 30px;" %>
        <% end %>
        投稿者：<%= h(comment.user.username) %>
      &nbsp;&nbsp;
      <%= comment.created_at %>
      </small>
    </h3>
  </div>
  <div class="panel-body">
    <% if comment.image? %>
      <%= link_to comment.image.url, 'data-lightbox' => comment.image.url do %>
        <%= image_tag comment.image.comment_thumb.url, class: "img-responsive center-block"%>
      <% end %>
    <% end %>
    <%= simple_format(h(comment.value)) %>
  </div>
</div>
  <% end %>
  <% if user_signed_in? %>
    <% if @topic.active? %>
      <%= render template: "comments/new" %>
    <% elsif @topic.archived? %>
      <div class="text-center">
        <strong>このトピックは、アーカイブされています。コメントの投稿はできません。</strong>
      </div>
    <% end %>
  <% end %>
