<% breadcrumb :topic, @topic %>
<div class="container">
 <div class="panel panel-primary">
   <div class="panel-heading">
     <h3 class="panel-title">
       <strong><%= @topic.title %></strong><br />
       <small>
         投稿者：<%= @topic.user.username %>
         &nbsp;&nbsp;
         <%= @topic.created_at.to_s %>
       </small>
     </h3>
   </div>
   <div class="panel-body">
     <%= @topic.value %>
   </div>
 </div>

 <% @topic.comments.each do |comment| %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <small>
                  投稿者：<%= comment.user.username %>
                  &nbsp;&nbsp;
                  <%= comment.created_at.to_s %>
                </small>
              </h3>
            </div>
            <div class="panel-body">
              <% if comment.image.url.present? %>
                <%= link_to comment.image.url do %>
                  <%= image_tag comment.image.thumb.url, class: "img-responsive center-block"%>
                <% end %>
              <% end %>
              <%= comment.value %>
            </div>
          </div>
<% end %>
<% if user_signed_in? %>
  <%= render template: "comments/new" %>
<% end %>

<%= link_to "戻る", category_path(@topic.category) %>
</div>
