<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password, autocomplete: "off", placeholder: "8文字以上半角" %>
  </div>
  <% User.statuses.each_key do |s|%>
  <div class="radio">
    <label>
      <input type="radio" value="option1" checked="">
      <% check = @user.status == s ? "checked" : ""%>
      <%= f.radio_button :status, s, checked: check %><%= s %>
    </label>
  </div>
  <% end %>
  <div class="field">
    <%= f.check_box :admin %><%= f.label :admin %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
