<% breadcrumb :index_user %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>名前</th>
      <th>メール</th>
      <th>ステータス</th>
      <th>権限</th>
      <th class="col-xs-1"></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, user %></td>
      <td><%= user.email %></td>
      <td><%= I18n.t("user_status.#{user.status}") %></td>
      <td><%= "管理者" if user.admin? %></td>
      <td class="col-xs-1"><%= link_to edit_user_path(user) do %>
          <span class=" btn btn-success glyphicon glyphicon-edit"></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
