<div class="container">
  <%= form_for(@category, class: "form-horizontal") do |f| %>
    <div class="form-group">
      <div class="col-xs-12 col-sm-offset-2 col-sm-10">
        <label class="col-xs-12 col-sm-2 control-label">タイトル</label>
        <div class="col-xs-12 col-sm-6">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 col-sm-offset-2 col-sm-10">
        <label class="control-label col-xs-12 col-sm-2">画像</label>
        <div class="col-xs-12 col-sm-6">
          <div class="btn" onclick="document.getElementById('category_image').click()">
            <img src="<%= @category.image.url %>" id="preview" width="50px">
          </div> <div hidden="hidden" onchange="$('#preview').hide();reader=new FileReader();file=document.getElementById('category_image');f=file.files;reader.readAsDataURL(f[0]);reader.onload =(function(){$('#preview').show();$('#preview').attr('src',reader.result);});"><%= f.file_field :image %></div>
          <% if @category.image? %>
            <label>
              <%= f.check_box :remove_image %>画像削除
            </label>
          <% end %>
          <%= f.hidden_field :image_cache %>
        </div>
      </div>
    </div>
    <% if @category.persisted? %>
      <div class="form-group">
        <div class="col-xs-12 col-sm-offset-2 col-sm-10">
          <label class="control-label col-xs-12 col-sm-2">ステータス</label>
          <div class="col-xs-12 col-sm-6">
            <% Category.statuses.each_key do |s|%>
              <div class="radio">
                <label>
                  <% check = @category.status == s ? "checked" : "" %>
                  <%= f.radio_button :status, s, checked: check %><%= I18n.t("category_status.#{s}") %>
                </label>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <div class="row col-xs-12 col-sm-offset-2 col-sm-8">
        <div class="pull-right">
          <%= f.submit class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  <% end %>
</div>
