<%= form_for(@category, class: "form-horizontal") do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="form-group">
      <strong>タイトル</strong>
      <div class="col-lg-10">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <% if @category.image? %>
      <strong>画像</strong>
      <div class="thumbnail">
        <%= image_tag @category.image.url %>
      </div>
      <% end %><br>
      <div class="btn btn-default" onclick="document.getElementById('category_image').click()">画像</div>
        <img src="" id="preview" width="50px" hidden="hidden">
        <div hidden="hidden" onchange="$('#preview').hide();reader=new FileReader();file=document.getElementById('category_image');f=file.files;reader.readAsDataURL(f[0]);reader.onload =(function(){$('#preview').show();$('#preview').attr('src',reader.result);});"><%= f.file_field :image %></div>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class="from-group">
      <% if @category.persisted? && @category.image? %>
      <label>
        <%= f.check_box :remove_image %>remove
      </label>
      <% end %>
    </div>

    <div class="form-group">
      <div class="pull-right">
        <input type="button" class="btn btn-default" value="キャンセル" onclick="history.back()">
        <%= f.submit class: "btn btn-primary"%>
      </div>
    </div>
  </fieldset>
<% end %>
