<% breadcrumb :topics, @category %>

<div  class="container">
  <table class="table table-striped">
    <tbody>
      <% @category.topics.select{|t| !t.deleted?}.each do |t| %>
        <tr>
          <td>
            <%= link_to t do %>
              <div>
                <% if t.user.image? %>
                  <%= image_tag t.user.image.thumb.url, class: "img-circle", style: "height: 30px;width: 30px;" %>
                <% else %>
                  <%= image_tag "/avatar-default.png", class: "img-circle", style: "height: 30px;width: 30px;" %>
                <% end %>
                <strong><%= t.title %></strong>
              </div>
              <div>
                <label class="long-text"><%= t.value %></label>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pull-right">
    <%= link_to "新規作成", new_topic_path(category_id: @category.id), class: "btn btn-primary" %>
  </div>
</div>


