<% breadcrumb :topics, @category %>

<div class="container">
  <div class="row center-block col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table class="table table-striped">
      <tbody>
        <% @category.topics.select{|t| !t.deleted?}.sort{|a,b|b.updated_at <=> a.updated_at}.each do |t| %>
          <tr>
            <td>
              <div class="col-xs-1">
                <% if t.user.image? %>
                  <%= image_tag t.user.image.thumb.url, class: "img-circle", style: "height: 30px;width: 30px;" %>
                <% else %>
                  <%= image_tag "/avatar-default.png", class: "img-circle", style: "height: 30px;width: 30px;" %>
                <% end %>
              </div>
              <div class="col-xs-7">
                <%= link_to t do %>
                  <div>
                    <strong><%= t.title %></strong>
                  </div>
                <% end %>
                <div>
                  <label class="long-text"><%= t.value %></label>
                </div>
              </div >
              <div class="col-xs-3">
                <label class="long-text" style="font-size: xx-small;">
                  作成者:<%= t.user.username %>
              </label>
              <label class="long-text" style="font-size: xx-small;">
                <%= t.comments.select{|c| !c.deleted?}.count %>件のコメント
              </label>
              <label class="long-text" style="font-size: xx-small;">
                最終更新:<%= twt(t.updated_at) %>
            </label>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if current_user %>
      <div class="pull-right">
        <%= link_to new_topic_path(category_id: @category.id), class: "btn btn-primary" do %>
          <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


