<p id="notice"><%= notice %></p>
<% breadcrumb :topics, @category %>

<div  class="container">
  <table class="table table-striped">
    <tbody>
      <% @category.topics.each do |t| %>
      <tr>
        <td>
        <%= link_to t do %>
        <div>
          <strong><%= t.title %></strong>
        </div>
        <div>
          <label class="long-text"><%= t.value %></label>
        </div>
        <% end %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "新規作成", new_topic_path(category_id: @category.id) %>
</div>


