<div class="container">
<%= form_for([:admin,@user]) do |f| %>
  <div class="form-group">
    <label><%= f.label :username %></label>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <label><%= f.label :email %></label>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <label><%= f.label :password %></label>
    <%= f.text_field :password, autocomplete: "off", placeholder: "8文字以上半角", class: "form-control" %>
  </div>
  <div class="form-group">
    <label>ステータス</label>
    <% User.statuses.each_key do |s|%>
      <div class="radio">
        <label>
          <input type="radio" value="option1" checked="">
          <% check = @user.status == s ? "checked" : ""%>
          <%= f.radio_button :status, s, checked: check %><%= I18n.t "user_status.#{s}" %>
        </label>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <label>権限</label>
    <div class="checkbox">
      <label><%= f.check_box :admin %><%= I18n.t "admin" %></label>
    </div>
  </div>

  <div class="form-group">
    <div class="pull-right">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>
