<!DOCTYPE html>
<html>
<head>
  <title>Esplanade</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
    <div class="container">
      <div class="row">
        <div class="pull-right">
          <% if user_signed_in? %>
            <strong><%= link_to current_user.username, edit_user_registration_path %></strong>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'サインアップ', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="pull-right">
          <%= form_tag(controller: "/forums", action: "search",class: "form-inline") do %>
          <div class="form-group">
            <%= text_field :word, value = nil, options = {} %>
            <%= submit_tag "検索" %>
          </div>
          <% end %>
        </div>
        <div class="pull-left">
          <%= breadcrumbs separator: " &rsaquo; " %>
        </div>
      </div>
    </div><!-- container -->
    </nav>
  </header>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
<%= yield %>

</body>
</html>
